scrapy
pandas
requests
beautifulsoup4
lxml
parsel
w3lib
twisted
cryptography
pyOpenSSL
scrapy-playwright
flask
flask_cors
flask-sqlalchemy
pymysql
flask-cors
werkzeug
pyjwt 
flask-jwt-extended
python-dotenv